<div id="<%= dom_id property %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= property.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= property.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= property.state %>
  </p>

</div>
