<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Renty</h1>
  <h4>Some Apartments Near Somewhere, In This Place</h4>
  <%= render "shared/properties_search_bar" %>
  <div class="my-5 grid justify-items-center">
    <p>Got a new property to add?</p>
    <%= render "shared/add_a_new_property_button" %>
</div>
